* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  box-sizing: border-box;
}

/* Mobile section styling */

@media (min-width: 375px) and (max-width: 430px) {
  .header__desktop,
  .container__desktop,
  .footer__desktop {
    display: none;
  }

  header {
    padding: 1.5rem 0.5rem;
  }

  main,
  footer {
    max-width: 430px;
  }

  .left__logo {
    height: 20px;
  }

  .right__icon {
    height: 20px;
  }

  .nav__top {
    display: flex;
    gap: 250px;
  }

  /* Hero section styling */

  .hero__mobile {
    background-color: #da3743;
    position: relative;
    top: 1rem;

    max-width: 430px;
  }

  .hero__contents-mobile {
    padding: 1.5rem 1rem;
  }

  .hero__contents-mobile h1 {
    color: #fff;
    font-weight: 700;
    line-height: 127%;
    margin-bottom: 0.3rem;
    font-size: 2.2rem;
  }

  .hero__contents-mobile p {
    color: #fff;
    font-size: 1rem;
    line-height: 145%;
    margin-top: 0.5rem;
  }

  .instant-search {
    position: relative;
    top: 1rem;
  }

  .instant-search p {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .instant-search input {
    padding: 20px 120px 20px 50px;
    border: none;
    border-radius: 6px;
    color: #e6e6e6;
  }

  .mag-icon {
    position: relative;
    right: 335px;
    top: 8px;
    width: 25px;
    color: #b5b5bd;
  }

  .hero-mobile__img {
    position: relative;
    top: 1rem;
    right: 0.2rem;
    max-width: 100%;
  }

  /* hero section */

  .menu__mobile {
    position: relative;
    top: 4rem;
    padding: 1.5rem 1rem;
  }

  .menu-menu-mobile {
    color: #da3743;
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  .menu__mobile h2 {
    font-weight: lighter;
  }

  .menu__overview {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: 1px solid #ebebeb;
    padding: 4px;
    border-radius: 8px;
  }

  .all {
    background-color: #da3743;
    color: #fff;
    padding: 4px 4px 4px 4px;
    font-size: 0.8rem;
    border-radius: 4px;
  }

  .menu__items-listed {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 52% 52%;
  }

  .menu__items-mobile {
    margin-top: 2rem;
  }

  .menu__items-mobile h3 {
    color: #4d4d4d;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 160%;
  }

  .menu__items-mobile p {
    font-size: 0.8rem;
    color: #999999;
    line-height: 160%;
    max-width: fit-content;
  }

  .current-price-mobile {
    margin-top: 2rem;
    color: #666666;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .cart-icon-mobile {
    position: relative;
    top: 0.5rem;
    left: 4.5rem;
  }

  .full-menu {
    position: relative;
    left: 9rem;
    padding: 20px 20px;
    border-radius: 30px;
    top: 2.5rem;
    background-color: #da3743;
    color: #ffffff;
    border: none;
  }

  .full-menu:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateX(8px);
    font-weight: bold;
  }

  .menu-item-img-mobile {
    max-width: 90%;
    object-fit: contain;
    border-radius: 4px;
  }

  /* Testimonials section */

  .testimonials__mobile {
    position: relative;
    top: 9rem;
    background-color: #f9e1e3;
    max-width: 430px;
  }

  .testimonials__card-mobile {
    padding: 1.5rem 1rem;
  }

  .testimonials__card-mobile h2 {
    font-size: 1.4rem;
    color: #363a40;
    line-height: 132%;
    margin-bottom: 0.5rem;
  }

  .testimonials__card-mobile p {
    color: #67758d;
    font-size: 1rem;
    max-width: 430px;
  }

  .testimonials__mobile-card {
    margin-top: 2.5rem;
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: 1rem;
  }

  .card-avatar {
    height: 48px;
    position: relative;
    left: 60px;
  }

  .card-avatar img {
    position: absolute;
    height: 48px;
    right: 370px;
    top: 0px;
  }

  .quote-icon-mobile {
    position: relative;
    left: 320px;
    top: 75px;
    height: 1rem;
  }

  .testimonials__mobile-card h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 160%;
    color: #363a40;
  }

  .testimonials__mobile-card h4 {
    color: #67758d;
    line-height: 160%;
    letter-spacing: 1.5%;
  }

  .testimonials__mobile-card p {
    color: #67758d;
    font-size: 1.1rem;
    line-height: 160%;
    margin-top: 0.5rem;
  }

  .progress-bar-mobile {
    margin-top: 1rem;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }

  .dot.active {
    background-color: #da3743;
  }

  /* Blog section */

  .blog__mobile {
    margin-top: 13rem;
    padding: 1.5rem 1rem;
  }

  .blog__mobile h2 {
    font-size: 1.4rem;
    text-align: center;
    color: #030303;
    line-height: 160%;
  }

  .blog__mobile p {
    text-align: center;
    line-height: 160%;
    color: #0a244e;
    font-size: 0.8rem;
    opacity: 70%;
  }

  .blog__posts-column {
    margin-top: 2rem;
  }

  .blog-posts {
    padding: 1.5rem 1rem;
    box-shadow: 0px 8px 22px -3.81px #18274b14;
    border-radius: 10px;
  }

  .date {
    display: flex;
    gap: 30px;
  }

  .design {
    color: #da3743 !important;
  }

  .blog-posts h3 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 160%;
  }

  .blog-posts p {
    line-height: 160%;
    font-size: 0.8rem;
    color: #666666;
    opacity: 70%;
    text-align: justify;
  }

  .read-more {
    color: #da3743;
    line-height: 160%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Footer section */

  .footer__mobile {
    background-color: #fafafa;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
    max-width: 430px;
  }

  .footer__mobile h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #1a1a1a;
    line-height: 160%;
  }

  .footer__flex-mobile {
    margin-top: 1rem;
    display: flex;
    gap: 7rem;
    line-height: 160%;
  }

  .footer-company h3,
  .footer-services h3 {
    font-size: 1.1rem;
  }

  .footer-company p,
  .footer-services p {
    color: #666666;
    line-height: 160%;
    font-size: 1rem;
  }

  .footer-socials {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
  }
}
/* Mobile section styling */

/* Desktop view section */

@media (min-width: 768px) {
  .mobile,
  .container__mobile,
  .footer__mobile {
    display: none;
  }

  .header__desktop {
    padding: 2rem 5rem;
    font-size: 1.2rem;
  }

  .nav__desktop,
  .center,
  .right {
    display: flex;
    gap: 300px;
    align-items: center;
  }

  .nav__desktop ul {
    display: flex;
    gap: 60px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #666666;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .active {
    color: #da3743;
    border-bottom: 1px solid #da3743;
  }

  .home:hover {
    background-color: #fff;
    color: #da3743;
    border: none;
    transition: all 0.5s ease-in;
    transform: translateX(8px);
    font-weight: bold;
    cursor: pointer;
  }

  .menu-desktop:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateX(8px);
    font-weight: bold;
    cursor: pointer;
  }

  .mealplans:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 0.5s ease-out;
    font-weight: bold;
    cursor: pointer;
  }

  .mag:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 1s ease-in;
    width: 30px;
    transform: translateX(-10px);
    cursor: pointer;
  }

  .cart-gif:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 1s ease-in-out;
    transform: translateX(-10px);
    width: 20px;
    cursor: pointer;
  }

  .sign-in:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateX(8px);
    font-weight: bold;
    cursor: pointer;
  }

  .create-acct {
    padding: 0.7rem 1.5rem;
    background-color: #da3743;
    border: none;
    border-radius: 1rem;
    color: #ffff;
    cursor: pointer;
  }

  .create-acct:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateX(8px);
    font-weight: bold;
  }

  /* Hero secttion styling */

  .hero {
    margin-top: 4rem;
    padding: 2rem 5rem;
    display: flex;
    gap: 15rem;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
  }

  .hero__text h1 {
    font-size: 3rem;
    color: #1a1a1a;
    line-height: 47px;
  }

  .hero__text p {
    line-height: 143%;
    color: #13254a;
    margin-top: 1rem;
    opacity: 70%;
  }

  .hero__btn {
    margin-top: 2rem;
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-radius: 1.2rem;
    color: #ffff;
    background-color: #da3743;
  }

  .hero__btn:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 1s ease-in-out;
    transform: translateX(8px);
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .hero__img {
    max-width: 100%;
  }

  /* Menu content styling */

  .menu {
    padding: 2rem 5rem;
    background-color: #fafafa;
  }

  .menu__contents {
    margin-top: 3rem;
  }

  .menu-p {
    font-size: 1rem;
    color: #da3743;
  }

  .menu__overview-flex {
    display: flex;
    gap: 605px;
  }

  .menu__gifs {
    display: flex;
    gap: 0.8rem;
    cursor: pointer;
  }

  .menu__gifs p:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 0.3s ease-in;
    transform: translateY(8px);
    font-weight: bold;
    cursor: pointer;
    margin: 0.1em 0.5em;
  }

  .all {
    background-color: #da3743;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius: 0.4rem;
    color: #ffff;
    font-size: 1rem;
  }

  .menu__container {
    display: grid;
    grid-template-columns: 25% 25% 10%;
  }

  .menu__items {
    margin-top: 3rem;
  }

  .menu-img:hover {
    background-color: #fff;
    border-bottom: 5px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateY(-8px);
    cursor: pointer;
  }

  .menu__items h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: #4d4d4d;
    line-height: 160%;
  }

  .menu__items p {
    color: #999999;
    line-height: 160%;
    width: 300px;
  }

  .current-price {
    font-size: 1.5rem;
    color: #666666;
  }

  .full-menu-desktop {
    margin-top: 2rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1.2rem;
    border: none;
    background-color: #da3743;
    color: #ffffff;
    position: relative;
    left: 35%;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .full-menu-desktop:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 4px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateY(-8px);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
  }

  /* Testimonials section styling */

  .testimonials__desktop {
    background-color: #da374326;
  }

  .testimonials__content {
    padding: 4rem 5rem;
    display: flex;
    gap: 10rem;
  }

  .testimonials__text h2 {
    color: #363a40;
    line-height: 124%;
    width: 170px;
  }

  .testimonials__text p {
    line-height: 160%;
    color: #67758d;
    width: 356px;
  }

  .testimonials__card {
    background-color: #fff;
    padding: 1rem 1rem;
    display: flex;
    gap: 20px;
    height: 230px;
    width: 40%;
  }

  .icon {
    position: relative;
    left: 600px;
  }

  .avatar-name {
    display: block;
    position: relative;
    left: 30px;
    color: #363a40;
    font-size: 1.2rem;
    line-height: 132%;
  }

  .address-footer {
    line-height: 160%;
    color: #67758d;
    font-size: 1rem;
  }

  .avatar-text {
    width: 341px;
    position: relative;
    left: 10%;
    top: 30px;
    line-height: 160%;
    color: #67758d;
    letter-spacing: 0.4%;
  }

  .progress-bar {
    position: relative;
    top: 160px;
    right: 700px;
    margin-top: 1rem;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }

  .dot.active {
    background-color: #da3743;
  }

  /* Blog section styling */

  .blog__container-desktop {
    margin-top: 6rem;
  }

  .blog__contents {
    padding: 2rem 5rem;
  }

  .blog__texts {
    text-align: center;
  }

  .blog__texts h2 {
    line-height: 120%;
    color: #030303;
  }

  .blog__texts p {
    color: #0a244e;
    opacity: 70%;
    line-height: 160%;
    margin-top: 1rem;
  }

  .blog__container-cards {
    display: flex;
    margin-top: 2.5rem;
    gap: 3.5rem;
  }

  .blog-cards {
    max-width: 430px;
    padding: 2rem;
  }

  .card-img:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 4px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateY(-8px);
    font-weight: bold;
    cursor: pointer;
  }

  .blog-text-content span {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
  }

  .design-desktop {
    color: #da3743 !important;
  }

  .date {
    color: #556480;
  }

  .blog-text-content h4 {
    font-size: 1.35rem;
    line-height: 160%;
    color: #333333;
    margin-bottom: 0.8rem;
  }

  .blog-text-content p {
    color: #666666;
    line-height: 160%;
    font-size: 1.2rem;
    max-width: 720px;
    margin-bottom: 2rem;
  }

  .read-more-desktop {
    color: #da3743;
    font-weight: bold;
  }

  .read-more-desktop:hover {
    background-color: #fff;
    color: #da3743;
    border-bottom: 2px solid #da3743;
    transition: all 0.5s ease-in;
    transform: translateX(-8px);
    cursor: pointer;
  }

  /* Footer section styling */

  .footer__desktop {
    background-color: #fafafa;
  }

  .footer__container {
    padding: 2rem 5rem;
  }

  .footer-card {
    display: flex;
    gap: 200px;
  }

  .footer-flex {
    position: relative;
    top: 1rem;
    left: 32rem;
    margin-bottom: 2rem;
  }

  .footer-flex h4 {
    font-size: 1.3rem;
  }

  .footer-flex p {
    color: #666666;
    line-height: 160%;
  }

  .footer__end {
    display: flex;
    justify-content: space-between;
  }

  .social-icons-desktop {
    position: relative;
    right: 170px;
    display: flex;
    gap: 30px;
  }

  .social-icons-desktop img {
    background-color: #f3eee4;
    border: 1px solid #fff;
    padding: 0.5rem;
    height: 30px;
    border-radius: 50%;
  }
}
